# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
src/**/*.egg-info/
.installed.cfg
*.egg
MANIFEST

# =========================
# Testes / cobertura
# =========================
htmlcov/
coverage-html/
.tox/
.nox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# =========================
# Linters / type checkers
# =========================
.ruff_cache/
.pyright/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# =========================
# Ambientes virtuais
# =========================
.env
.venv
env/
venv/
ENV/

# =========================
# IDEs e Editores
# =========================
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
*.code-workspace

# =========================
# Qualidade / CI
# =========================
.scannerwork/
.sonarlint/

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db
Desktop.ini

# =========================
# Backups / temporários
# =========================
*.bak
*.swp
*.swo
*.log
temp_proto/
dicas.txt

# =========================
# AI Agents
# =========================
.claude
